
$font-path: "../assets/fonts";

@import "ionic.globals";

// Named Color Variables

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white:      #fff,
  elliesRed:  #d0171d,
  mediumGrey: #444,
);

@import "ionic.theme.default";

// Ionicons

@import "ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

ion-header {
border-bottom: 1px solid #2E86C1 !important;
}

.toolbar-background {
/*background: #2dbd9a !important;*/
/*background: #d0171d !important;*/
background: #2E86C1 !important;
color: #fff !important;
text-shadow: 0px 1px 1px #fff !important;
}

.toolbar-title {
color: #fff !important;
/*text-shadow: 0px 1px 1px #000 !important;*/
font-weight: 400 !important;
}

.toolbar {

  .back-button {
  color: #fafafa !important;  
  font-weight: 400 !important;
  }

}

.alert-title {
font-weight: 300 !important;
font-size: 20px !important;
color: #333 !important;
}

.alert-message {
color: #555 !important;
font-size: 14px !important;
}

.alert-button {
/*color: #FF3366 !important;*/
}

/*Menu*/

ion-menu {

  .toolbar-md {

      .toolbar-background {
      background: #2E86C1 !important;
      }

      .menuLogo {
      width: 200px;
      margin: 5px 0px 0px 10px;
      }

  }
  

  .toolbar-ios {

      .toolbar-background {
      background: #2E86C1 !important;
      }

      .menuLogo {
      width: 140px;
      margin: 5px 0px 0px 10px;
      }

  }

}

.menu-inner {

  .item {
  border-bottom: 1px solid #ccc;
  }
  
  .item-inner {
  border-bottom: none !important;
  }

}/*menu-inner ends*/

ion-footer.footer-md {
  
  button {
  text-transform: uppercase !important;
  }

}

.searchbar {
background: #eee !important;
}

.toolbar-title {
font-weight: 400 !important;
/*text-align: center;*/

}

.item-md.item-input.input-has-focus .item-inner {
border-bottom-color: transparent !important;
box-shadow: 0px 0px 0px !important;
}

.list-md .item-input.input-has-focus:last-child {
border-bottom-color: #dedede !important;
box-shadow: 0px 0px 0px !important;
}

ion-navbar, ion-toolbar {

  

  .bar-button {
    color: #fff !important;
    
    }

  .headerRightBtnContainer {
  margin-right: 10px;
  }

  .headerLogo {
  max-width: 150px;
  }

  .button-inner {
  color: #fff !important;
  font-weight: 400;
  }

}/*ion-navbar ends*/

.topBannerImg {
border-bottom: 1px solid #ccc;
box-shadow: 0px 0px 10px #aaa;
}










