<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Activities</ion-title>

        <ion-buttons end>

            <page-network> </page-network>

        </ion-buttons>

    </ion-navbar>

</ion-header>
<ion-content class="signInList signIn">
    <page-visitstatus></page-visitstatus>
    <div *ngFor="let item of activities">
        <ion-card (click)="navigatePage(item.ActivityLog,item.ActivityTypeId,item)">
            <!-- <ion-card-header (click)="navigatePage(item.ActivityLog,item.ActivityTypeId,item)"> -->
            <span style="color:#666;font-size: 1.2rem; float:right;font-size: 13px;padding-top:10px;padding-right:10px;">
                {{item.DateCreated}}
            </span>
            <ion-grid>
                <ion-row>
                    <ion-col col-auto>
                        <div class="gr-circle-act">
                            <span class="center-tag hi-100 fs-22">
                                {{item.initial}}
                            </span>
                        </div>
                    </ion-col>
                    <ion-col col-auto>
                        <span style="color:#555!important">
                            {{item.fullName}}
                        </span>
                        <br>
                        <div style="margin-top: 10px;">
                        </div>
                        <span style="color:#4099FF!important;font-size: 15px;">
                            {{item.placeName}}
                        </span>
                        <br>
                        <span style="color:#555!important;font-size: 15px;">
                            {{item.address}}
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="item.ActivityLog==='Orders'">
                    <ion-col col-auto>
                         <div style="margin-left: 10px;">
                           <ion-icon ios="md-checkbox" md="md-checkbox" item-left></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col col-auto>
                        <div style="margin-top: 15px;">
                            <span style="color:#666;font-size: 13px; padding-left:2px!important;">
                                Order
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="item.ActivityLog==='Orders'">
                    <div style="margin-left: 35px;">
                        <span style="color:#666;font-size: 13px; padding-left:5px!important">
                            $ {{item.order}}
                        </span>
                    </div>
                </ion-row>
                <ion-row *ngIf="item.ActivityLog==='Photos'">
                    <ion-thumbnail *ngIf="item.ActivityLog==='Photos'" item-left class="img-rounded">
                        <img [src]="item.photoImage" [width]="100" [height]="110">
                    </ion-thumbnail>
                </ion-row>
            </ion-grid>
            <!-- </ion-card-header> -->

            <!-- <ion-card-content (click)="navigatePage(item.ActivityLog,item.ActivityTypeId,item)">
                <div *ngIf="item.ActivityLog==='Orders'">
                    <ion-icon ios="md-checkbox" md="md-checkbox" item-left>
                        <span style="color:#666;font-size: 13px; padding-left:5px!important">
                          Order
                       </span>
                    </ion-icon>
                    <br>
                    <span style="color:#666;font-size: 13px; padding-left:5px!important">
                        $ {{item.order}}
                    </span>
                </div>
                <ion-thumbnail *ngIf="item.ActivityLog==='Photos'" item-left class="img-rounded">
                    <img [src]="item.photoImage" [width]="100" [height]="110">
                </ion-thumbnail>
            </ion-card-content> -->
        </ion-card>
    </div>
</ion-content>

<ion-fab right bottom color="#2E86C1" style="float:right;padding-bottom:50px!important;">
    <button ion-fab color="#2E86C1" (click)="navigateToPlaces()">
        <ion-icon ios="md-compass" md="md-compass"></ion-icon>
    </button>
</ion-fab>

<ion-footer>
    <span style="padding-top:30px!important; font-size:15px!important;position:relative;top: 8px;">
        <strong>{{workDay}}</strong>
    </span>
    <span *ngIf="stop" style="float:right;padding-right:100px!important; font-size:25px!important;position:relative;top: 2px;">
        <ion-icon ios="md-square" md="md-square" item-right (click)="stopWork()"></ion-icon>
    </span>
    <span *ngIf="pause" style="float:right;padding-right:50px!important; font-size:25px!important;position:relative;top: 2px;">
        <ion-icon ios="md-pause" md="md-pause" item-right (click)="pauseWork()"></ion-icon>
    </span>
    <span *ngIf="start" style="float:right;padding-right:100px!important; font-size:25px!important;position:relative;top: 2px;">
        <ion-icon ios="md-play" md="md-play" item-right (click)="startWork()"></ion-icon>
    </span>
</ion-footer>