<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Orders</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="navigateSummary()" [disabled]="valueOfItemsOrdered==='0'" style="color:#000000;padding:10px">
                <span style="color:white!important"> SUMMARY </span>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <page-network></page-network>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="signInList signIn">
   <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <div *ngFor="let item of products">
        <ion-item>
            <ion-icon (click)="addQty(item)" ios="md-add" md="md-add" item-left style="background-color:#2E86C1!important;color:white!important;padding:8px;font-size:15px!important"></ion-icon>
            <ion-icon item-left style="background-color:#2E86C1!important;color:white!important;padding:8px;font-size:15px!important">
                {{checkItemQty(item)}}
            </ion-icon>
            <ion-icon *ngIf="checkItemQty(item) > '0'" (click)="removeQty(item)" ios="md-remove" md="md-remove" item-left style="background-color:#2E86C1!important;color:white!important;padding:8px;font-size:15px!important"></ion-icon>
            <button ion-item no-lines (click)="openOrder(item)" item-right style="width:100%;background-color:white">
                <span style="color:#666;font-size: 1.5rem; float: left;font-size: 18px; padding-left: 10px;">
                    {{item.name}}
                </span>
                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" item-right (click)="openOrder(item)"></ion-icon>
            </button>
        </ion-item>
    </div>
</ion-content>

<ion-footer>
    <span style="padding-top:10px!important; font-size:20px!important">
        <strong>$ {{valueOfItemsOrdered}} / {{totalItems}}</strong>
    </span>
    <span style="float:right;padding-right:50px!important; font-size:25px!important">
        <ion-icon ios="md-trash" md="md-trash" item-right (click)="deleteOrder()"></ion-icon>
    </span>
</ion-footer>