
<ion-header>

  <ion-navbar>
     <ion-title>Form</ion-title>

     <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

     <ion-buttons end>
        
            <button ion-button icon-only (click)="submitForm()" [disabled] = "!allMandatoryFieldsValidated() || isDisabled">
                Save
            </button>            
            
     </ion-buttons>

     <ion-buttons end style="padding-left:10px!important">                
        <button ion-button icon-only (click)="submitOrder()" [disabled]="isDisabled" style="background-color: #fafafa;color:#000000">
            <ion-icon ios="ios-cloud-upload" md="ios-cloud-upload" style="color:#2E86C1!important"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="registerContainer">
    
            <ion-list class="signInList signIn">

                  <ion-item *ngFor="let item of formFields">

                      <ion-label *ngIf="item.questionTypeId !=='6' && item.questionTypeId !=='7' && item.questionTypeId !=='9'" floating><span  *ngIf="item.mandatory ===true" style="color:red;font-weight: bold;">* </span>{{item.question}} </ion-label>
                      
                      <ion-input *ngIf="item.questionTypeId==='1'" [(ngModel)]="formFieldModel[item.id]" type="text"> </ion-input>

                      <ion-textarea *ngIf="item.questionTypeId==='2'" [(ngModel)]="formFieldModel[item.id]"></ion-textarea>

                      <ion-input *ngIf="item.questionTypeId==='3'" type="number" [(ngModel)]="formFieldModel[item.id]"> </ion-input>

                      <ion-select *ngIf="item.questionTypeId==='4'" [(ngModel)]="formFieldModel[item.id]">
                          <ion-option value="Yes">Yes</ion-option>
                          <ion-option value="No">No</ion-option>
                      </ion-select>

                      <ion-select *ngIf="item.questionTypeId==='5'" [(ngModel)]="formFieldModel[item.id]">
                          <ion-option *ngFor="let option of item.answers" value="{{option.answer}}">{{option.answer}}</ion-option>
                      </ion-select>

                      <div *ngIf="item.questionTypeId==='6'">
                          <span  *ngIf="item.mandatory ===true" style="color:red;font-weight: bold;">* </span>
                          <div class="editProfilePicContainer">
                              <p></p>
                              <img [src]="base64Image" />
                          </div>
                          <span style="float: right;">
                              {{item.question}} <ion-icon ios="ios-camera" (click)="presentActionSheet(item.id)" md="ios-camera" item-right></ion-icon>
                          </span>
                      </div>

                      <div *ngIf="item.questionTypeId==='7'">
                          <span  *ngIf="item.mandatory === true" style="color:red;font-weight: bold;">* </span>
                          <ion-icon item-left name="calendar" (click)="showCalendar()"></ion-icon>
                          <span style="color:black;">{{item.question}}</span>
                          <b (click)="showCalendar()">{{formFieldModel[item.id]}}</b>
                      </div>

                      <div *ngIf="item.questionTypeId==='9'">
                          <span  *ngIf="item.mandatory ===true" style="color:red;font-weight: bold;">* </span>
                          <ion-icon item-left name="ios-barcode" (click)="openBarCode()"></ion-icon>
                          <span style="color:black;"> {{item.question}} </span>
                          <b (click)="openBarCode()">{{formFieldModel[item.id]}}</b>
                      </div>

                      <ion-select *ngIf="item.questionTypeId==='10'" [(ngModel)]="formFieldModel[item.id]">
                          <ion-option *ngFor="let option of products" value="{{option.name}}">{{option.name}}</ion-option>
                      </ion-select>

                  </ion-item>
               
            </ion-list>

</ion-content>
