<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Order</ion-title>

    <ion-buttons end>

      <button ion-button icon-only (click)="viewItemsRepo()">
        Items
      </button>

      <button ion-button style="padding-left:10px!important" icon-only (click)="saveOrderRepo()" [disabled]="OrderModel.Quantity==='0' || OrderModel.Signature ==='' || isDisabled">
        Save
      </button>

    </ion-buttons>

    <ion-buttons end style="padding-left:10px!important">
      <button ion-button icon-only (click)="submitOrder()" [disabled]="isDisabled" style="background-color: #fafafa;color:#000000">
        <ion-icon ios="ios-cloud-upload" md="ios-cloud-upload" style="color:#2E86C1!important"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="registerContainer">

  <ion-list class="registerList">

    <ion-item>
      <ion-label floating>Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.Quantity" (change)="computeAmount()" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.Amount" [disabled]="true"></ion-input>
    </ion-item>

  </ion-list>

  <h1>
    <strong>Discount</strong>
  </h1>

  <ion-list class="registerList">

    <ion-item>
      <ion-label floating>Discount rate %</ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.DiscountRate" [disabled]="isDisabled" (change)="computeDiscountAmount()"
        [disabled]="OrderModel.Amount==='0'"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Discount amount</ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.DiscountAmount" [disabled]="isDisabled" (change)="computeDiscountRate()"
        [disabled]="OrderModel.Amount==='0'"></ion-input>
    </ion-item>

  </ion-list>

  <h1>
    <strong>Tax</strong>
  </h1>

  <ion-list class="registerList">

    <h1>
      <strong>Taxable subtotal: {{taxableSubTotal}}</strong>
    </h1>

    <ion-item>
      <ion-label floating>Tax rate %</ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.TaxRate" [disabled]="isDisabled" (change)="computeTaxAmount()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Tax amount</ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.TaxAmount" [disabled]="true"></ion-input>
    </ion-item>

  </ion-list>

  <h1>
    <strong>Total</strong>
  </h1>

  <ion-list class="registerList">

    <ion-item>
      <ion-label floating>
        <strong>Total discount amount</strong>
      </ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.TotalDiscountAmount" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <strong>Total amount</strong>
      </ion-label>
      <ion-input type="number" [(ngModel)]="OrderModel.TotalAmount" [disabled]="true"></ion-input>
    </ion-item>

  </ion-list>

  <h1>
    <strong>Additional</strong>
  </h1>

  <ion-item>
    <ion-icon item-left name="calendar" (click)="showCalendarDate()">
      <span style="padding-left:10px;font-size: 20px!important">Order Date</span>
      <b (click)="showCalendarDate()">
        <span style="padding-left:10px;font-size: 18px!important">
          {{OrderModel.OrderDate}}
        </span>
      </b>
    </ion-icon>
  </ion-item>

  <ion-item>
    <ion-label floating>Due Days</ion-label>
    <ion-input type="number" [disabled]="true" [(ngModel)]="OrderModel.DueDays" placeholder="Due days"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon item-left name="calendar" (click)="showCalendarDueDate()">
      <span style="padding-right:5px;padding-left:10px;font-size: 20px!important">Due Date</span>
      <b (click)="showCalendarDueDate()">
        <span style="padding-left:10px;font-size: 18px!important">
          {{OrderModel.DueDate}}
        </span>
      </b>
    </ion-icon>
  </ion-item>

  <ion-item>
    <ion-textarea [(ngModel)]="OrderModel.Note" [disabled]="true" placeholder="Note..."></ion-textarea>
  </ion-item>

  <h1>
    <strong>Signature</strong>
  </h1>

  <ion-item>
    <div *ngIf="isDisabled===true">
      <img [src]="OrderModel.Signature" />
    </div>
    <signature-pad *ngIf="isDisabled !==true" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  </ion-item>

  <div style="text-align: center;">
    <button ion-button [hidden]="OrderModel.Signature==='' || isDisabled" (click)="clearSignature()" style="width:60%!important">Clear</button>
  </div>

</ion-content>

<ion-footer>
  <span style="padding-top:10px!important; font-size:20px!important">
    <strong>$ {{OrderModel.TotalAmount}} / {{totalItems}} items</strong>
  </span>
  <span style="float:right;padding-right:50px!important; font-size:25px!important">
    <ion-icon ios="md-trash" md="md-trash" item-right (click)="deleteOrder()" [hidden]="isDisabled"></ion-icon>
  </span>
</ion-footer>